In [10]:
# Define the path to your file without an extension
file_path = 'C:\\Users\\user\\Downloads\\RHOBS\\-'  

# Open the file and read the first 40 lines
with open(file_path, 'r', encoding='utf-8', errors='ignore') as file: 
    for _ in range(40):
        line = file.readline()
        if not line:  # Break if end of file is reached
            break
        print(line)

Your mission shall you accept it is to

* Explain every column.

* Find the 3 richest person.



This is a simple test, it should not take you more 30minutes to code.







a,b,c,d,e,f,g

0,longue description 0,Victor,Évrat,1779,0,1779

1,longue description 1,Ugo,Ogier,3218,0,3218

2,longue description 2,Gerard,Zola,3909,0,3909

3,longue description 3,Ingrid,Quesada,2672,0,2672

4,longue description 4,Xavier,Yvars,4224,0,4224

5,longue description 5,Régis,Ferry,3479,0,3479

6,longue description 6,Thierry,Zola,0,-402,-402

7,longue description 7,Elodie,Hénaut,2623,0,2623

8,longue description 0,Xavier,Zola,1249,0,1249

9,longue description 1,Pascal,Cannet,1986,0,1986

10,longue description 2,Victor,Martin,4417,0,4417

11,longue description 3,Salomé,Niels,3175,0,3175

12,longue description 4,Jérémie,Quesada,0,-490,-490

13,longue description 5,Martine,Évrat,855,0,855

14,longue description 6,Zoé,Urbain,3063,0,3063

15,longue description 7,Léopold,Évrat,3453,0,3453

16,longue description 0,Nicolas,Janel,1104,0,1104

17,longue description 1,Pascal,Sablonnière,0,-973,-973

18,longue description 2,Martine,Aubry,3419,0,3419

19,longue description 3,Ugo,Hénaut,4847,0,4847

20,longue description 4,Jérémie,Zola,2175,0,2175

21,longue description 5,Karim,Zola,3680,0,3680

22,longue description 6,Ugo,Vergez,785,0,785

23,longue description 7,Zoé,Urbain,0,-849,2214

24,longue description 0,Ugo,Barbier,1983,0,1983

25,longue description 1,Pascal,Dupond,4206,0,4206

26,longue description 2,Ingrid,Geneau,2538,0,2538

27,longue description 3,Gerard,Ferry,1693,0,1693

28,longue description 4,Jérémie,Barbier,1103,0,1103

29,longue description 5,Martine,Niels,4225,0,4225

30,longue description 6,Nicolas,Yvars,3600,0,3600

In [11]:
import pandas as pd

# Define the path to your file without an extension
file_path = 'C:\\Users\\user\\Downloads\\RHOBS\\-'  # Replace 'your_file' with the actual file name

# Initialize an empty list to hold the data
data_lines = []

# Open the file and process only the relevant data section
with open(file_path, 'r', encoding='utf-8', errors='ignore') as file:
    # Skip lines until the header is found
    for line in file:
        if line.strip() == 'a,b,c,d,e,f,g':
            break  # Found the header, stop skipping lines
    
    # Read the next lines of actual data after the header
    for line in file:
        if line.strip() == '':  # Skip any empty lines that might separate sections
            continue
        data_lines.append(line.strip())
        if len(data_lines) == 40:  # Stop after collecting 20 lines of data
            break

# Convert the list of strings to a list of lists, splitting each string by commas
data = [line.split(',') for line in data_lines]

# Create a DataFrame from the list of lists, using the first line as column headers
df = pd.DataFrame(data, columns=['a', 'b', 'c', 'd', 'e', 'f', 'g'])

#convert the 'e' column to numeric so it can be sorted
df['e'] = pd.to_numeric(df['e'], errors='coerce')

# The DataFrame 'df' now contains the data you want to work with

In [12]:
df.head()

   a                     b       c        d     e  f     g
0  0  longue description 0  Victor    Évrat  1779  0  1779
1  1  longue description 1     Ugo    Ogier  3218  0  3218
2  2  longue description 2  Gerard     Zola  3909  0  3909
3  3  longue description 3  Ingrid  Quesada  2672  0  2672
4  4  longue description 4  Xavier    Yvars  4224  0  4224

In [13]:
import dask.dataframe as dd

# Define the path to your file
input_file_path = r'C:\Users\user\Downloads\RHOBS\output.csv'  # Replace with the actual path to your CSV

pbar = ProgressBar()
pbar.register()
# Read the data with dask.dataframe
ddf = dd.read_csv(input_file_path)

# Group by 'c' (name) and 'd' (family name), and sum 'g'
aggregated_ddf = ddf.groupby(['c', 'd'])['g'].sum().reset_index()

# Computing the result and convert to pandas dataframe 
aggregated_df = aggregated_ddf.compute()

# Now 'aggregated_df' contains unique combinations of 'c' (name) and 'd' (family name) with the sum of 'g'
print(aggregated_df)

[                                        ] | 0% Completed | 1.25 ms

[##                                      ] | 7% Completed | 17.04 sms

In [ ]:
aggregated_df.head()

          c        d             g
0  Amandine    Aubry  1.970864e+14
1  Amandine  Barbier  1.979809e+14
2  Amandine   Cannet  1.963529e+14
3  Amandine   Dupond  1.970091e+14
4  Amandine    Ferry  1.973869e+14

In [ ]:
top_3_richest_ddf = aggregated_ddf.nlargest(3, 'g')


top_3_richest_df = top_3_richest_ddf.compute()

# Display the top 3 richest people
print(top_3_richest_df)

[########################################] | 100% Completed | 228.71 s
[########################################] | 100% Completed | 228.74 s
          c         d             g
671     Zoé  Walliand  1.988992e+14
53   Céline   Barbier  1.986593e+14
376  Océane     Niels  1.986399e+14

In [ ]:
results_file_path = r'C:\Users\user\Downloads\RHOBS\results.csv'
top_3_richest_df.to_csv(results_file_path, index=False)

In [3]:
from IPython.display import FileLink

# Save the DataFrame to a CSV file in the current working directory of the notebook
df.to_csv('output_file40.csv', index=False)

# Create a download link for the file
FileLink('output_file40.csv')

c:\Users\user\Downloads\RHOBS\output_file40.csv

In [4]:
# Define the path to your file
file_path = 'C:\\Users\\user\\Downloads\\RHOBS\\-'

def get_last_line(filename):
    with open(filename, 'rb') as file:
        file.seek(-2, 2)  # Go to the second byte before the end of the file
        while file.read(1) != b'\n':  # Keep moving backwards until you find a newline
            file.seek(-2, 1)
        last_line = file.readline().decode()  # Read and decode the last line
    return last_line

# Use the function to get the last line of the file
last_line = get_last_line(file_path)

# Print the last line for visualization
print("Last line of the file:")
print(last_line)

Last line of the file:
299999999,longue description 7,Xavier,Quesada,3293,0,887683098